<!DOCTYPE html>
<html>

<head>
    <title>Patent Startup Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form action="/submit" method="post" id="formContainer">
        </form>
        <div id="summaryContainer"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>